.example-spacer {
    flex: 1 1 auto;
}
.example-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .d-inline-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mat-icon {
    margin-right: 1rem;
  }
  .active {
    background-color: rgba(0,0,0,0.1);
  }
  
